.ui-widget {
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 1em;
}

.ui-widget .ui-widget {
	font-size: 0.9em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
	{
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 0.9em;
}

.ui-datatable, .ui-column-title{
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 0.9em;
}

.ui-datatable .ui-widget-content{
	font-size: 0.9em;
}